body {
  background-color: #0a33fb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*title */
.title {
  margin: 10px;
  color: #ff3bff;
  font-size: 5rem;
  max-width: 40%;
}

@media screen and (min-width: 601px) and (max-width: 1050px) {
  .title {
    padding-top: 60px;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    max-width: 100%;
    font-size: 4rem;
    padding-top: 50px;
  }
}

/* text*/
p {
  max-width: 60%;
  color: #c0c0c9;
}
@media screen and (min-width: 601px) and (max-width: 1050px) {
  p {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  p {
    max-width: 90%;
  }
}

.hambicon {
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 30px;
}

